<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844151105132-us8c2q2huggvhs3b6bnlud7r0gbiqaca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844151105132-us8c2q2huggvhs3b6bnlud7r0gbiqaca</string>
	<key>API_KEY</key>
	<string>AIzaSyDGMfca-3Ruk1l21u8QUtFDaNda56aHwWw</string>
	<key>GCM_SENDER_ID</key>
	<string>844151105132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hjuanma.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-228e2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-228e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844151105132:ios:6b2862cd39f49cbbd65a49</string>
</dict>
</plist>